<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <title>Games</title>

    <link rel="stylesheet" href="css/inventory.css" />
</head>

<body>
    <div class="inventory">
        <h1 class="inv__pageTitle">Games</h1>

        <% for (let i = 0; i < data.length; i++) { %>
            <div class="inv__row">
                <div class="inv__column">
                    <div class="inv__card">
                        <img class="inv__image" src="<%= data[i].imageURL %>" />

                        <h2 class="inv__sectionTitle">
                            <%- data[i].title %><br /><br />
                        </h2>

                        <p class="inv__sectionContent">Price: $
                            <%- data[i].price %>
                        </p>

                        <% if(data[i].numInStock <= 0) { %>
                            <p>Out of Stock</p>
                            <% } %>
                            
                                <% if(data[i].numInStock > 0) { %>
                                    <a href="/user/cart/add/<%= data[i]._id %>">Add to Cart</a> |
                                    <% } %>

                                    <a href="/games/<%= data[i].title %>">View Product</a>
                    </div>
                </div>
            </div>
            <% } %>

            <% if(data.length == 0) { %>
                <div class="unavail__container">
                    <p class="unavail__label">Sorry, Our Merch is Currently Unavailable</p> <br>
                    <p class="unavail__text1">Please Check Back Soon as We Resolve this Issue </p> <br>
                    <p class="unavail__text2">Thank You! </p> <br>
                </div>
            <% } %>
    </div>
</body>

</html>